<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>Admin page</h1>
        
        
        <form th:action="@{http://localhost:8080/admin/products}" method="get">
    		<input type="submit" value="View Products" />
    	</form>
    	
    	
    	<form th:action="@{http://localhost:8080/admin/orders}" method="get">
    		<input type="submit" value="View Orders" />
    	</form>


        
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>

    </div>

</div>

</body>
</html>