<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>OPOS Login </title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>


<p th:if="${loginError}" class="error"><font color="red">Invalid Data</font></p>

<div class="container">

    <div class="row" style="margin-top:20px">
    	<form th:action="@{http://localhost:8080/home/login}" method="post">
    		<input type="text" placeholder="username" name="username" autofocus="autofocus" /> 
    		<input type="password" placeholder="password" name="password" autofocus="autofocus" /> 
    		<input type="submit" value="Login" />
    	</form>
    </div>
    
    <div class="row" style="margin-top:20px">
    	<h1><font color="blue"> Don't have an account?</font></h1>
    	<form th:action="@{http://localhost:8080/home/signUp}" method="post">
    		<button type="submit">Sign up</button>
    	</form>
    </div>  
</div>

</body>
</html>