<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1>User page </h1>
        
         <p th:if="${ordersChanged}" class="error"><font color="green">Orders Updated</font></p>
        
        <form th:action="@{http://localhost:8080/client/menu}" method="get">
    		<input type="submit" value="View Menu" />
    	</form>
    	
    	
    	<form th:action="@{http://localhost:8080/client/orderHistory}" method="get">
    		<input type="submit" value="View Order History" />
    	</form>
        
        
        <form th:action="@{http://localhost:8080/home/logoutClient}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>

    </div>

</div>

</body>
</html>